*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Main Body Css */
.main{
    width: 100%;
    height: 100vh;
    background: url(../Pics/bgg.jpg);
    background-position: center;
    background-size: cover;
}

/* Navbar of Reports */
.side-nav{
    width: 6%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 15px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px);
}
.side-nav ul{
    list-style: none;
    padding-left: 5px;
}
.side-nav ul li{
    padding-top: 20px;
}
.back{
    display: flex;
    align-items: center;
    width: 40%;
    padding: 10px 2px;
    border-radius: 50px;
}
.back a img{
    width: 40px;
    border-radius: 50%;
}
.main .body .head{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.main .body .head .container{
    display: flex;
}
.main .body .head .container .card{
    height: 350px;
    margin: 0 25px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
}
.main .body .head .container img{
    height: 420px;
    width: 260px;
    border-radius: 8px;
}
.main .body .head .container .intro{
    height: 50px;
    width: 260px;
    padding: 0 2px;
    box-sizing: border-box;
    position: absolute;
    bottom: 150px;
    background: rgba(27, 27, 27, 0.658);
    color: white;
    transition: .5s;
}
.main .body .head .container .intro h1{
    margin: 10px;
    font-size: 25px;
}
.main .body .head .container .intro p{
    margin: 10px;
    font-size: 15px;
    visibility: hidden;
    opacity: 0;
}
.main .body .head .container .card:hover{
    cursor: pointer;
}
.main .body .head .container .card:hover .intro{
    height: 140px;
    bottom: 150px;
    background: #000;
    overflow: hidden;
}
.main .body .head .container .card:hover p{
    opacity: 1;
    visibility: visible;
}
.main .body .head .container .card:hover img{
    transform: scale(1.1) rotate(-5deg);
}