*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Print Function */
@media print{
    body *:not(.container):not(.container *){
        visibility: hidden;
    }
}
.container, .container * {
    visibility: visible;
    overflow: hidden;
    size: cover;
}

/* Main Body Css */
.main{
    width: 100%;
    height: 130vh;
    background: url(../Pics/bgg.jpg);
    background-position: center;
    background-size: cover;
}

/* Navbar of Reports */
.side-nav{
    width: 13%;
    height: 170vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 15px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px);
}
.side-nav ul{
    position: fixed;
}
.side-nav ul .reports:hover{
    background-color: rgba(27, 115, 216, 0.301);
}
.side-nav ul li{
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    list-style: none;
}
.side-nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 17px;
}
.side-nav ul li a:hover{
    font-weight: 600;
    font-size: large;
    color: #2E4C6E;
}

/* Back Button */
.back{
    display: flex;
    align-items: center;
    width: 40%;
    font-size: 12px;
    padding: 10px;
    border-radius: 50px;
    margin-left: 5px;
    margin-right: auto;
    background: rgba(192, 158, 7, 0.541);
    backdrop-filter: blur(5px);
}
.back a{
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.back a h1{
    font-size: 25px;
    font-weight: 600;
    color: #000;
    display: flex;
    justify-content: flex-start;
    padding-left: 0px;
}
.back a img{
    width: 40px;
    border-radius: 50%;
    margin: 0 0px;
}

/* Report body */
.container{
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    margin-left: 13%;
    padding-left: 2%;
    padding-right: 2%;
    width: 87%;
    height: 130vh;
    background-color: #fff;
    border:1px solid #000;
}

/* Reports Head */
.container .head{
    padding-left: 0px;
}
.container .head tr td img{
    width: 60px;
    height: 60px;
    margin: 8px;
}

/* Reports Patient Details */
.container .entry{
    margin-left: 5px;
}
/* Report patient detailc*/
.info{
    text-align: left;
    width: 350px;
    height: 20px;
}
.info input{
    border: none;
    outline: none;
    background: none;
    color: black;
    font-size: 18px;
    width: 80%;
    border-bottom: 2px solid black;
}
.info h3 select{
    width: 40%;
    height: 50%;
    align-content: flex-start;
    text-align: left;
    border: none;
    border-radius: 5px;
}
/* X-Match Entry Info */
.data .info input{
    border: none;
    outline: none;
    background: none;
    color: black;
    font-size: 18px;
    border-bottom: 1px solid black;
}
.data .info{
    text-align: left;
    width: 350px;
    height: 20px;
}
.info h3 select{
    width: 40%;
    height: 50%;
    align-content: flex-start;
    text-align: left;
    border: none;
    border-radius: 5px;
}
/* Reports Test Name Headings */
#t1{
    text-align: center;
    font-size: 25px;
    padding: 10px 0px;
    align-items: center;
}

/* Reports Test headings */
.data tr td{
    text-align: center;
    padding-top: 1px;
}
.data tr td input{
    width: 80%;
    text-align: center;
    border-style: none;
    outline: none;
    border-bottom: 1px dotted black;
}

/* report columns */
#txt{
    text-align: center;
}

/* Print Btn */
.btn{
    background-color: rgb(0, 132, 255);
    color: #fff;
    border-style: none;
    border-radius: 6px;
    padding: 5px 10px;
    margin-left: 35%;
    text-align: center;
    font-size: 15px;
}

/* Footer Work */
.foot td{
    text-align: center;
}
