*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Main Container */
.header{
    width: 100%;
    height: 100vh;
    background: url(Pics/bgg.jpg);
    background-position: center;
    background-size: cover;
}

/* Navbar Work */
.side-nav{
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 15px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px);
}

/* Home user profile */
.user{
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 12px;
    padding: 10px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
}
.user h2{
    font-size: 20px;
    font-weight: 600;
    color: #2E4C6E;
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
}
.user p{
    font-size: 11px;
    font-weight: 600;
    color: #2E4C6E;
    padding-left: 10px;
}
.user img{
    width: 40px;
    border-radius: 50%;
    margin: 0 5px;
}

/* Home & Report Back Button */
.back{
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 12px;
    padding: 10px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
}
.back a{
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.back a h1{
    font-size: 25px;
    font-weight: 600;
    color: #000;
    display: flex;
    justify-content: flex-start;
    padding-left: 0px;
}
.back a img{
    width: 40px;
    border-radius: 50%;
    margin: 0 20px;
}
.back a p{
    font-size: 11px;
    font-weight: 600;
    color: #000;
    padding-left: 0px;
}

/* Navbar Work of Home & Report Page */
.side-nav ul{
    list-style: none;
    padding: 0 15px;
}
.side-nav ul .reports:hover{
    background-color: rgba(27, 115, 216, 0.301);
}
.side-nav ul li{
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    list-style: none;
}
.side-nav ul li:hover{
    font-weight: 600;
    color: white;
}
.side-nav ul li img{
    width: 40px;
    border-radius: 50%;
    margin: 0 15px;
}
.side-nav ul li a{
    text-decoration: none;
    color: black;
    font-style: bold;
    font-size: 20px; 
    font-weight: 500;   
}
.side-nav ul li a:hover{
    color: white;
}
.side-nav ul li .link{
    padding-left: 15px;
}

/* Home and Report Body Part */
.header .body{
    width: 80%;
    height: 1%;
    border-radius: 8px;
    margin-left: 260px;
}
.header .body span{
    font-style: bold;
}

/* Report Body animation card Part */
.header .body .head{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.header .body .head .container{
    display: flex;
}
.header .body .head .container .card{
    height: 350px;
    margin: 0 25px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
}
.header .body .head .container img{
    height: 420px;
    width: 260px;
    border-radius: 8px;
}
.header .body .head .container .intro{
    height: 50px;
    width: 260px;
    padding: 0 2px;
    box-sizing: border-box;
    position: absolute;
    bottom: 150px;
    background: rgba(27, 27, 27, 0.658);
    color: white;
    transition: .5s;
}
.header .body .head .container .intro h1{
    margin: 10px;
    font-size: 25px;
}
.header .body .head .container .intro p{
    margin: 10px;
    font-size: 15px;
    visibility: hidden;
    opacity: 0;
}
.header .body .head .container .card:hover{
    cursor: pointer;
}
.header .body .head .container .card:hover .intro{
    height: 140px;
    bottom: 150px;
    background: #000;
    overflow: hidden;
}
.header .body .head .container .card:hover p{
    opacity: 1;
    visibility: visible;
}
.header .body .head .container .card:hover img{
    transform: scale(1.1) rotate(-5deg);
}

/* Home Text part */
.header .body .h-txt p{
    font-size: 30px;
    color: #2E4C6E;
    padding: 18% 0 0 5%;
}
.header .body .h-txt blockquote{
    padding: 5px 0 0 5%;
    color: black;
    font-size: 20px;
}

/* Learn button */
.header .body .table{
    margin-top: 15px;
}
.header .body .table a{
    text-decoration: none;
    color: #fff;
    background-color: rgb(0, 132, 255);
    width: 200px;
    font-weight: 200;
    border-radius: 6px;
    margin-left: 5%;
    margin-top: 5%;
    padding: 8px 40px;
    text-align: center;
    font-size: 20px;
}
.header .body .table a:hover{
    background-color: rgb(0, 132, 255);
    color: #fff;
    padding: 8px 40px;
}